# While Loop

In [1]:
i = 1 # intialization

while(i <= 5): # conditon
     print('Data Science') 
     i =i+1      # increment

Data Science
Data Science
Data Science
Data Science
Data Science

In [2]:
# Reverse
i = 5
while(i >= 1):
    print('Data Science')
    i =i-1

Data Science
Data Science
Data Science
Data Science
Data Science

In [3]:
i = 1 

while(i <= 5): 
     print('Data Science : ',i) 
     i =i+1

Data Science :  1
Data Science :  2
Data Science :  3
Data Science :  4
Data Science :  5

In [4]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not creation
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [5]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [6]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [7]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [2]:
i = 10

while i <= 4 :
    j = 1
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
         
    print()
    i += 1
    
else:
    print('condition is not match')

condition is not match

# For Loop

In [4]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [1]:
name1 = [1, 3.5,'hallo'] 

for i in name1:
    print(i)

1
3.5
hallo

In [2]:
range(5)

range(0, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [7]:
# print the value which is divisible by 5
for i in range(1,31):
    if(i % 5 == 0):
        print(i)

5
10
15
20
25
30

# Break , Continue , pass

In [11]:
for i in range(1 , 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
for i in range(1,11):
    if i == 4:
       break
    print(i)

1
2
3

In [17]:
for i in range(1 , 11):
    if i == 4:
       continue
    print(i)

1
2
3
5
6
7
8
9
10

In [18]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [19]:
for i in range(1,11):
    pass

In [21]:
x = int(input('How many chocolates you want: ?'))

i = 1
while i <= x:
      print('choclet : ',i)
      i = i+1

How many chocolates you want: ? 5

choclet :  1
choclet :  2
choclet :  3
choclet :  4
choclet :  5

In [25]:
available_choclet = 5 # the machine has only 5 candis 

x = int(input('How many chocolates you want: ?'))
i = 1
while i <= x:
    if i >  available_choclet:  # we stop the execution but which code execution not entire code , i want to come out of while loop 
       print('out of stock')
       break #break is statment | means jump out of the loop
    print('choclet',i)
    i +=1
print('bye for now')

How many chocolates you want: ? 5

choclet 1
choclet 2
choclet 3
choclet 4
choclet 5
bye for now

In [26]:
for i in range(1 , 51):
    if i % 3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [28]:
for i in range(1 , 51):
    if i % 3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [32]:
for i in range(1 , 51):
    if(i%3 == 0) or (i%5 == 0):

       continue
    print(i)
#print('end')
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [33]:
nums = [12,15,18,21,26,30,40]
for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [34]:
nums = [12,5,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

5
15
30
40

In [35]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [36]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [37]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15

In [1]:
# Print the first 10 natural numbers using a while loop.
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [4]:
# print all numbers from 1 to 100 using a for loop.
i = 1
while i <= 100:
      print(i,end = ' ')
      i = i + 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [8]:
 # Print the reverse of a list using a loop.
l = [1,2,3,4,5,6,7,8,9]
index = len(l) - 1 # start from the last index

while index >= 0:
    print(l[index])
    index = index - 1

9
8
7
6
5
4
3
2
1

In [21]:
# Find the sum of all numbers from 1 to a given number n.
i = 1
n = int(input('Enter the number : '))
Sum = 0
while i <= n:
      Sum = Sum + i
      i = i + 1
print('Sum of n numbers : ',Sum)

Enter the number :  5

Sum of n numbers :  15

In [40]:
# Display the multiplication table of a given number using a loop.
i = 1
n = int(input('enter the number u will get multiplication table of the number :'))
while i <= 10:
      mul = n * i
      print(n, 'X',i,'=',mul)
      i = i+1

enter the number u will get multiplication table of the number : 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [42]:
#Print each character of a string on a new line with a loop
name = 'harsh'
for i in name:
    print(i)

h
a
r
s
h

In [2]:
# Print all even numbers between 1 and 50 using a loop.
for i in range(1 ,50):
    if i % 2 == 0:
       continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [13]:
#Find and print all numbers divisible by 5 in a given list.
nums = [1,3,5,15,18,20,21,23,25]
for num in nums:
    if(num % 5 == 0):
        print(num)

5
15
20
25

In [17]:
# Print the factorial of a number using a while loop.
n = int(input('Enter the number :'))
fact = 1
i = 1
while i <= n:
      fact = fact * i
      i = i + 1
print(fact)

Enter the number : 3

6

In [18]:
# Display all numbers from a list using loop and skip over those greater than 150.

numbers = [120, 45, 180, 95, 200, 140, 75, 160]
for num in numbers:
    if num > 150:
       continue
    print(num)

120
45
95
140
75

In [3]:
# Print only the vowels from a given string.
s = "Hello, welcome to Python programming!"
for i in s:
    if i.lower() in ('a','e','i','o','u'):
       print(i)

e
o
e
o
e
o
o
o
a
i

In [7]:
# Double each value in a list using a for loop and print the new list
original_list = [1,2,3,4,5]
double_list = []
for value in original_list:
    double_list.append(value * 2)
print(double_list)

[2, 4, 6, 8, 10]

In [2]:
# Print the largest and smallest digit in a given number using while loop.
number = 489273615
largest = 0
smallest = 9
n = number

while n > 0:
      digit = n % 10
      if digit > largest:
          largest = digit
      if digit < smallest:
          smallest = digit
      n = n//10

print('Largest digit:',largest)
print('smallest digit:',smallest)

Largest digit: 9
smallest digit: 1

In [2]:
# Create and print a number series (Fibonacci sequence) using loops.
n = int(input('enter the number :'))
first = 0
second = 1
count = 0
print('Fibonacci sequence')
while n > count:
      print(first, end = ' ')
      fibo_seq = first + second
      first = second
      second  = fibo_seq
      count = count + 1

enter the number : 3

Fibonacci sequence
0 1 1

In [4]:
# Count the number of times a specific element appears in a list using a loop.
my_list = [10,20,30,20,40,20,50]
element_to_count = 20
count = 0
for item in my_list:
    if item == element_to_count:
        count = count + 1

print(f'{element_to_count} appear {count} time in the list.')

20 appear 3 time in the list.

In [8]:
# Print alternate numbers of a given list using a loop.
my_list = [10,20,30,40,50,60,70]

for i in range(0 , len(my_list),2):
    print(my_list[i])

10
30
50
70